$cell-size: 18px;
$cell-gap: 3px;

.habit-grid {
  display: flex;
  flex-direction: row;
  gap: $cell-gap;
}

.habit-column {
  &:first-child{
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: white;
  }
  display: flex;
  flex-direction: column;
  flex:1;
  gap: $cell-gap;
}

.cell {
  width: 100%;
  min-width: $cell-size;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 3px;
  flex-shrink: 0;
  font-size: 11px;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;

  &.currentweek {
    font-weight: bold;
    color: red;
  }

  &.day-name-cell {
    font-weight: bold;
    color: #555;
  }

  &.day-cell{
    border: 1px solid black;
    cursor: pointer;

    transition: transform 0.1s ease;
    &:hover:not(.empty) {
      transform: scale(0.9);
    }
    &:active:not(.empty) {
     transform: scale(0.8);
    }

    &.empty{
      border: 0px;
    }

    &.completed{
      background-color: green;
    }
  }

}