<div class="habit-grid">
    <div class="habit-column">
      <div class="cell day-name-cell" *ngFor="let day of dayNames">{{ day }}</div>
    </div>

    @for(week of weeks; track index; let index = $index) {
      <div class="habit-column" >
        <div class="cell" [class.currentweek]="$index === currentWeekNumber">{{index + 1}}</div>
        @for( day of week; track (day.dateStr || $index)){
          <div class="cell day-cell" 
            [class.empty]="day.empty" 
            [class.completed]="day.completed"
            (click)="toggleDay(day)">
          </div>
        }
      </div>
    }
</div>
