$cell-size: 20px;
$cell-gap: 3px;

.habit-grid {
  display: flex;
  flex-direction: row;
  gap: $cell-gap;
  overflow-x: auto;
}

.habit-column {
  display: flex;
  flex-direction: column;
  gap: $cell-gap;
}

.cell {
  width: $cell-size;
  height: $cell-size;
  box-sizing: border-box;
  border-radius: 3px;
  flex-shrink: 0;
  font-size: 11px;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;

  &.day-name-cell {
    border-radius: 3px;
    cursor: pointer;
  }

  &.day-cell{
    border: 1px solid black;

    transition: transform 0.1s ease;
    &:hover:not(.empty) {
      transform: scale(0.9);
    }
    &:active:not(.empty) {
     transform: scale(0.8);
    }

    &.empty{
      border: 0px;
    }

    &.completed{
      background-color: green;
    }
  }

}